@media all and (max-width: 1380px) {
  section#home div.wrapper header nav.right {
    width: 50%;
  }
  section#home section#spotlight div.left div.location {
    width: 62%;
  }
}
@media all and (max-width: 1280px) {
  section#home div.wrapper header h1 a {
    width: 40%;
  }
  section#home div.wrapper header nav.right ul li a {
    font-size: 16px;
    font-family: "Gordita Medium";
    color: #666666;
  }

  section#home section#spotlight div.left h1 {
    font-size: 46px;
  }
  section#home section#spotlight div.left p {
    font-size: 16px;
  }
  section#home section#spotlight div.left div.location {
    width: 73%;
  }

  section#events div.wrapper div.card div.left {
    width: 45%;
  }
  section#events div.wrapper div.card {
    padding: 30px;
  }
}
@media all and (max-width: 1080px) {
  section#home section#spotlight {
    padding: 80px 0;
  }
  section#home div.wrapper header nav.right ul li a {
    font-size: 15px;
  }
  section#home section#spotlight div.left h1 {
    font-size: 42px;
  }
  section#home section#spotlight div.left p {
    font-size: 85%;
  }
  section#home section#spotlight div.left div.location {
    width: 81%;
  }
  section#home section#spotlight div.right div.imagecontainer img {
    height: 400px;
  }
  section#home section#spotlight div.right div.buttoncontainer {
    right: 32%;
    width: 13%;
  }
  section#home section#spotlight div.right div.imagecontainer {
    right: 9%;
    bottom: 0;
    width: 58%;
  }

  section#revenue div.wrapper ul.widget {
    flex-wrap: wrap;
  }
  section#revenue div.wrapper ul.widget li {
    width: 33%;
  }
}
@media all and (max-width: 980px) {
  section#amenities {
    padding: 70px 0;
  }
  section#events {
    padding: 70px 0;
  }
  section#home section#spotlight {
    flex-direction: column-reverse;
  }
  section#home div.wrapper header h1 a {
    width: 50%;
  }
  section#home div.wrapper header nav.right {
    width: 58%;
  }
  section#home div.wrapper header nav.right ul li a {
    font-size: 13px;
  }
  section#home section#spotlight div.right div.imagecontainer {
    position: static;
    width: 60%;
    margin: 0 auto;
  }
  section#home section#spotlight div.right {
    width: 100%;
  }
  section#home section#spotlight div.right div.buttoncontainer {
    width: 16%;
    top: 23%;
    left: 42%;
  }
  section#home section#spotlight {
    margin-left: 0;
  }
  section#home section#spotlight div.left {
    width: 100%;
  }
  br {
    display: none;
  }
  section#home section#spotlight div.left h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
  }
  section#home section#spotlight div.left p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  section#home section#spotlight div.left div.location {
    width: 48%;
    margin: 40px auto;
  }
  section#home section#spotlight div.left button {
    margin: 0 auto;
  }
  section#amenities div.wrapper div.gallery ul.photobooth li span.count {
    padding: 6px 12px;
  }
  section#amenities div.wrapper div.gallery ul.photobooth li {
    width: 48%;
  }
  section#events div.wrapper div.card {
    flex-direction: column-reverse;
  }
  section#events div.wrapper div.card:nth-child(2n) {
    flex-direction: column-reverse;
  }
  section#events div.wrapper div.card div.right {
    width: 100%;
    margin-bottom: 20px;
  }
  section#events div.wrapper div.card div.left {
    width: 100%;
  }
  section#revenue div.wrapper ul.widget li {
    width: 50%;
}
}
@media all and (max-width: 768px) {
  section#home section#spotlight div.right div.imagecontainer img {
    height: 350px;
  }

  section#home div.wrapper header nav.right ul {
    display: none;
  }
  section#home div.wrapper header nav.right div.hamburger {
    display: block;
    width: 40%;
    margin-left: 80%;
  }
  section#home div.wrapper header h1 {
    width: 100%;
  }
  section#home div.wrapper header h1 a {
    width: 60%;
  }
  section#home section#spotlight div.left div.location {
    width: 56%;
  }
}
@media all and (max-width: 640px) {
  section#home section#spotlight div.right div.imagecontainer img {
    height: 300px;
  }
  section#home section#spotlight div.right div.imagecontainer {
    width: 70%;
  }
  section#home section#spotlight div.left h1 {
    font-size: 34px;
  }
  section#home section#spotlight div.left div.location {
    width: 75%;
  }
  section#amenities div.wrapper div.gallery ul.photobooth li {
    width: 100%;
  }

section#revenue div.wrapper p {
  font-size: 16px;
}
section#revenue div.wrapper ul.widget li {
  width: 100%;
}
section#revenue div.wrapper ul.widget li div.green {
  width: 10%;
}
section#revenue div.wrapper ul.widget li div.white {
  width: 10%;
}


}
@media all and (max-width: 480px) {
  section#home div.wrapper header h1 a {
    width: 75%;
  }
  section#home div.wrapper header nav.right div.hamburger {
    width: 55%;
    margin-left: 70%;
  }
  section#home section#spotlight div.right div.imagecontainer img {
    height: 260px;
  }
  section#home section#spotlight div.right div.buttoncontainer {
    width: 25%;
    top: 17%;
    left: 38%;
  }
  section#home section#spotlight div.right div.imagecontainer {
    width: 80%;
  }
  section#home section#spotlight div.left h1 {
    font-size: 26px;
  }
  section#home section#spotlight div.left p {
    width: 80%;
  }
  section#home section#spotlight div.left div.location span {
    width: 40px;
  }

  section#home section#spotlight div.left div.location h4 {
    margin-left: 10px;
  }
  section#amenities div.wrapper p {
    font-size: 16px;
  }
  section#events div.wrapper div.card div.left div.bottom div.eventnumber img {
    display: none;
  }

  section#events div.wrapper > p {
    width: 100%;
    font-size: 16px;
  }

section#revenue div.wrapper p {
  width: 100%;
}
}
@media all and (max-width: 360px) {
  section#home section#spotlight div.left h1 {
    font-size: 24px;
  }
  section#events div.wrapper div.card div.left h2 {
    font-size: 19px;
  }
}
