* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "SansRegular", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input,
textarea,
select {
    font-family: "SansRegular", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

img {
    display: block;
    width: 100%;
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

a {
    cursor: pointer;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "SansRegular", Arial;
    font-weight: 500;
    color: #000;
}

.blur {
    backdrop-filter: blur(10px) !important;
    background: #000 !important;
}

@font-face {
    font-family: "Gordita Regular";
    src: url("../assets/fonts/DMSans-Regular.woff2") format("woff2"),
        url("../assets/fonts/Gordita-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita Bold";
    src: url("../assets/fonts/Gordita-Bold.woff2") format("woff2"),
        url("../assets/fonts/Gordita-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gordita Medium";
    src: url("../assets/fonts/Gordita-Medium.woff2") format("woff2"),
        url("../assets/fonts/Gordita-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SansBold";
    src: url("../assets/fonts/DMSans-Bold.woff2") format("woff2"),
        url("../assets/fonts/DMSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SansMedium";
    src: url("../assets/fonts/DMSans-Medium.woff2") format("woff2"),
        url("../assets/fonts/DMSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SansRegular";
    src: url("../assets/fonts/DMSans-Regular.woff2") format("woff2"),
        url("../assets/fonts/DMSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

html {
    scroll-behavior: smooth;
}

.popup-content {
    border: none !important;
    background: none !important;
}

.active {
    color: #0fa76f;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

/* Landing_page style starts */
/* (#home) style starts */
section#home header {
    position: fixed;
    top: 0;
    height: 80px;
    z-index: 2;
    background: #fff;
}

section#home header div.wrapper {
    height: 100%;
}

section#home header div.wrapper nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}



section#home header div.wrapper nav h1 {
    width: 50%;
}

section#home header div.wrapper nav h1 a {
    width: 30%;
    display: block;
}

section#home header div.wrapper nav h1 a img {
    display: block;
    width: 100%;
}

section#home header div.wrapper nav div.right {
    width: 40%;
}

section#home header div.wrapper nav div.right ul {
    display: flex;
    justify-content: space-between;
}

section#home header div.wrapper nav div.right ul li a:hover {
    color: #0fa76f;
}

section#home header div.wrapper nav div.right ul li a.active {
    color: #0fa76f;
}


section#home header div.wrapper nav div.right ul li a {
    font-size: 18px;
    font-family: "Gordita Medium";
    color: #666666;
}

/* hamburger style starts */

section#home header div.wrapper nav div.right div.hamburger {
    display: none;
}

section#home header div.wrapper nav div.right div.hamburger img {
    width: 100%;
    display: block;
}

section#home header div.wrapper nav div.right div.menu {
    display: none;
    z-index: 1000000;
    font-family: "SansBold";
    font-size: 0.8em;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    text-align: center;
    font-size: 12px;

}

section#home header div.wrapper nav div.right div.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
    right: 60%;
    background: #ffffff;

}

section#home header div.wrapper nav div.right div.menu ul li {
    display: block;
    padding: 15px 0 15px 0;
    /* border-bottom: #dddddd 1px solid; */
    width: 100%;

}

section#home div.wrapper nav header nav.right div.menu ul li a {}

section#home div.wrapper nav header nav.right div.menu ul li a:hover {
    color: #0fa76f;
}

/* hamburgur ends */

/* (#spotlight) style starts */
section#home section#spotlight {
    background: linear-gradient(to left, #f4f1e9 0%, #ffffff 100%);
    display: flex;
    position: relative;
    padding: 180px 0 100px 100px;
}



section#home section#spotlight div.video-player {
    display: none;
    position: absolute;
    z-index: 1;
    left: 20%;
}

section#home section#spotlight div.video-player span {
    position: absolute;
    top: 0;
    width: 3%;
}

section#home section#spotlight div.video-player span img {
    display: block;
    width: 100%;
}

section#home section#spotlight div.video-player video {
    width: 80%;
    margin: 0 auto;

}


section#home section#spotlight div.left {
    width: 45%;
}

section#home section#spotlight div.left h1 {
    font-size: 50px;
    font-family: "SansBold";
    margin-bottom: 15px;
}

section#home section#spotlight div.left h1 i {
    font-family: "SansBold";
    color: #009262;
}

section#home section#spotlight div.left p {
    font-size: 18px;
    color: #747474;
    width: 80%;
}

section#home section#spotlight div.left div.location {
    border: 1px solid #eeeeee;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 6px 12px;
    background: #ffff;
    margin: 40px 0;
}

section#home section#spotlight div.left div.location span {
    width: 20px;
}

section#home section#spotlight div.left div.location span img {
    display: block;
    width: 100%;
}

section#home section#spotlight div.left div.location h4 {
    font-family: "SansMedium";
    font-size: 15px;
    display: inline;
}

section#home section#spotlight div.left button {
    background: #0fa76f;
    font-family: "SansRegular";
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 10px 20px;
    color: #ffffff;
}

section#home section#spotlight div.left button span.videobutton {
    display: block;
    width: 100px;
}

section#home section#spotlight div.left button img {
    margin-left: 5px;
    width: 30%;
    display: block;
}

section#home section#spotlight div.right {
    width: 50%;
}

section#home section#spotlight div.right div.image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 63%;
}

section#home section#spotlight div.right div.image-container img {
    width: 100%;
    display: block;
}

section#home section#spotlight div.right div.button-container {
    position: absolute;
    right: 26%;
    top: 42%;
    width: 11%;
    cursor: pointer;
}

section#home section#spotlight div.right div.button-container::after {
    background-color: rgb(15, 167, 111);
    opacity: 0.4;
    z-index: -1;
}

section#home section#spotlight div.right div.button-container img {
    display: block;
    width: 100%;
}

/* (#home) style ends */

/* (#amenities) style starts */

section#amenities {
    padding: 100px 0;
    animation: 600ms ease-in-out 0ms 1 normal none running fade;

    @keyframes fade {
        0% {
            opacity: 0;
            transform: scale(0.9);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @media all and (max-width: 980px) {
        padding: 60px 0;
    }
}

section#amenities div.wrapper h1 {
    font-size: 32px;
    font-family: "SansBold";
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
}

section#amenities div.wrapper h1 small {
    display: inline-block;
    color: #62af84;
    position: relative;
}

section#amenities div.wrapper h1 small img {
    position: absolute;
    bottom: -15%;
    left: 10%;
}

section#amenities div.wrapper p {
    color: #747474;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
}

section#amenities div.wrapper div.gallery ul.photo-booth {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 6px;
}

section#amenities div.wrapper div.gallery ul.photo-booth li {
    width: 30%;
    padding: 8px;
    border-radius: 8px;
    background: #f9f9f9;
    position: relative;
    animation: 600ms ease-in-out 0ms 1 normal none running fade;

    @keyframes fade {
        0% {
            opacity: 0;
            transform: scale(0.9);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

section#amenities div.wrapper div.gallery ul.photo-booth li:hover span.name {
    display: none;
}

section#amenities div.wrapper div.gallery ul.photo-booth li:hover span.hover {
    display: block;
    animation: 600ms ease-in-out 0ms 1 normal none running fade;

}

section#amenities div.wrapper div.gallery ul.photo-booth li img {
    width: 100%;
    display: block;
}

section#amenities div.wrapper div.gallery ul.photo-booth li span.count {
    background: #00000066;
    padding: 8px 14px;
    position: absolute;
    top: 15px;
    border-radius: 15px;
    right: 20px;
    display: block;
}

section#amenities div.wrapper div.gallery ul.photo-booth li span.count small {
    color: #fff;
    font-size: 11px;
    display: block;
}

section#amenities div.wrapper div.gallery ul.photo-booth li span.name {
    font-size: 14px;
    font-family: "SansMedium";
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    color: #fff;
}

section#amenities div.wrapper div.gallery ul.photo-booth li span.hover {
    display: none;
    font-size: 14px;
    font-family: "SansMedium";
    position: absolute;
    bottom: 10%;
    left: 5%;
    text-align: center;
    width: 100%;
    color: #fff;
    animation: 600ms ease-in-out 0ms 1 normal none running fade;

    @keyframes fade {
        0% {
            opacity: 0;
            transform: scale(0.9);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

/* (#amenities) style ends */

/* (#events) style starts */
section#events {
    background: #fcfbf8;
    padding: 100px 0;
    animation: 300ms ease-in-out 0ms 1 normal none running fade;
}

section#events div.wrapper h1.head {
    font-size: 32px;
    font-family: "SansBold";
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
}

section#events div.wrapper h1.head small {
    display: inline-block;
    color: #62af84;
    position: relative;
    font-size: 32px;
}

section#events div.wrapper h1.head small img {
    width: 100%;
    display: block;
}

section#events div.wrapper>p {
    color: #747474;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.02em;
    width: 75%;
    margin: 0 auto 30px auto;
}

section#events div.wrapper ul.card li { 
    display: flex;
    justify-content: space-between;
    background: #fff6f9;
    border-radius: 12px;
    padding: 50px;
    border: 1px solid pink;
    margin-bottom: 25px;

}
section#events div.wrapper ul.card li:nth-child(2) { 
    display: flex;
    background: #f1fcff;
    flex-direction: row-reverse;
    border: 1px solid #c8efef;
}
section#events div.wrapper ul.card li:nth-child(3) { 
    background: #fff6f9;
    margin-bottom: 50px;
    border: 1px solid #d4d4d4;   
}




section#events div.wrapper ul.card li div.left { 
    width: 50%;
}

section#events div.wrapper ul.card li div.left h2 { 
    font-family: "SansBold";
    font-size: 22px;
    margin-bottom: 10px;
    color: #000;

}

section#events div.wrapper ul.card li div.left small { 
    font-family: "SansMedium";
    font-size: 16px;
    margin-bottom: 20px;
    color: #adadad;
    display: block;

}

section#events div.wrapper ul.card li div.left p { 
    font-size: 15px;
    color: #747474;
    margin-bottom: 25%;

}

section#events div.wrapper ul.card li div.left div.bottom { 
    display: flex;
    justify-content: space-between;

}

section#events div.wrapper ul.card li div.left div.bottom button { 
    background: #0fa76f;
    padding: 0 10px;
    height: 40px;
    margin-top: 50px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 110px;

}

section#events div.wrapper ul.card li div.left div.bottom button span.button-name { 
    font-family: "SansMedium";
    font-size: 14px;
    color: #fff;
    display: contents;

}

section#events div.wrapper ul.card li div.left div.bottom button img { 
    width: 20px;

}

section#events div.wrapper ul.card li div.left div.bottom div.event-number img { 
    display: block;
    width: 100%;

}

section#events div.wrapper ul.card li div.right { 
    width: 45%;

}

section#events div.wrapper ul.card li div.right div.ImageContainer { 
    width: 100%;
    height: 100%;
    display: inline-block;

}

section#events div.wrapper ul.card li div.right div.ImageContainer img { 
    display: block;
    width: 100%;
    height: 100%;

}


section#events div.wrapper button.foot {
    width: 100%;
}

section#events div.wrapper button span.button-view-name {
    background: #0fa76f;
    padding: 12px 18px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 220px;
    font-family: "SansBold";
    font-size: 16px;
}

section#events div.wrapper button span.button-view-name img {
    width: 15%;
}

/* (#events) style ends */

/* (#revenue) style starts */
section#revenue {
    padding: 100px 0;
    animation: 300ms ease-in-out 0ms 1 normal none running fade;
}

section#revenue div.wrapper h1 {
    font-size: 32px;
    font-family: "SansBold";
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    letter-spacing: 0.02em;
}

section#revenue div.wrapper h1 span {
    display: inline-block;
    color: #62af84;
    position: relative;
}

section#revenue div.wrapper p {
    color: #747474;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.02em;
    width: 80%;
    margin: 0 auto;
}

section#revenue div.wrapper ul.widget {
    margin-top: 20px;
    display: flex;
}

section#revenue div.wrapper ul.widget li {
    width: 24%;
    padding: 25px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    transform: scale(0.9);
    transition: all 0.2s ease-in-out 0s;
}

section#revenue div.wrapper ul.widget li:hover {
    transform: scale(1);
    background: linear-gradient(90deg, #0fa76f 2%, #21c487 97.59%);
}

section#revenue div.wrapper ul.widget li:hover .green {
    display: none;
}

section#revenue div.wrapper ul.widget li:hover .white {
    display: block;
}

section#revenue div.wrapper ul.widget li:hover h3 {
    color: #fff;
}

section#revenue div.wrapper ul.widget li:hover span {
    color: #fff;
}

section#revenue div.wrapper ul.widget li div.green {
    width: 15%;
}

section#revenue div.wrapper ul.widget li div.green img {
    display: block;
    width: 100%;
}

section#revenue div.wrapper ul.widget li div.white {
    width: 15%;
    display: none;
}

section#revenue div.wrapper ul.widget li div.white img {
    display: block;
    width: 100%;
}

section#revenue div.wrapper ul.widget li h3 {
    font-size: 18px;
    margin: 10px 0 20px;
    font-family: "SansBold";
    color: #000;
}

section#revenue div.wrapper ul.widget li span {
    font-size: 14px;
    line-height: 1.6em;
    font-family: "Gordita Regular";
    color: #747474;
}

/* (#revenue) style ends */

/* (#footer) style starts */
footer {
    background: #000;
    padding: 40px 0;
}

footer div.wrapper {
    width: 100%;
}

footer div.wrapper div.caption-container {
    width: 12%;
    margin: 0 auto 20px auto;
}

footer div.wrapper div.caption-container img {
    width: 100%;
    display: block;
}

footer div.wrapper h3 {
    font-size: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

footer div.wrapper a.logo {
    display: flex;
    flex-direction: column;
    width: 4%;
    margin: 0 auto 30px auto;
}

footer div.wrapper a.logo img {
    width: 100%;
    display: block;
}

footer div.wrapper div.line {
    border: 1px solid #303030;
    margin-bottom: 20px;
}

footer div.wrapper div.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin: 0 auto;
}

footer div.wrapper div.bottom a {
    width: 12%;
}

footer div.wrapper div.bottom a:nth-child(2) {
    width: 7%;
}

footer div.wrapper div.bottom a img {
    display: block;
    width: 100%;
}

/* (#footer) style ends */
/* Landing_page style starts */

/* Login page starts */

section#login {
    height: 100vh;
    display: flex;
}

section#login div.left {
    background: url("../images/loginbg.png");
    background-size: cover;
    width: 50%;
}

section#login div.left div.content {
    width: 70%;
    margin: 0 auto;
    padding-top: 60%;
}

section#login div.left div.content h2 {
    font-size: 28px;
    font-family: "SansMedium";
    color: #fff;
}

section#login div.left div.content p {
    font-size: 16px;
    font-family: "SansRegular";
    color: #fff;
}

section#login div.right {
    width: 50%;
    padding: 40px 100px 0 100px;
}

section#login div.right div.logo {
    width: 12%;
    margin: 0 auto 25px auto;
}

section#login div.right div.logo img {
    width: 100%;
    display: block;
}

section#login div.right div.text-logo {
    width: 33%;
    margin: 0 auto 15px auto;
}

section#login div.right div.text-logo img {
    width: 100%;
    display: block;
}

section#login div.right h4 {
    font-size: 17px;
    font-family: "SansMedium";
    text-align: center;
    margin-bottom: 15px;
}

section#login div.right h4 span {
    color: #0fa76f;
}

section#login div.right p {
    font-size: 18px;
    text-align: center;
    color: #747474;
    margin-bottom: 30px;
}

section#login div.right form label {
    font-size: 14px;
    color: #747474;
}

section#login div.right form>input {

    width: 100%;
    border-radius: 6px;
    background: #F4F5FC;
    margin-bottom: 15px;
    padding: 15px 20px;

}

section#login div.right form div.password {
    position: relative;

}

section#login div.right form div.password input {
    width: 100%;
    border-radius: 6px;
    background: #F4F5FC;
    margin-bottom: 20px;
    padding: 15px 20px;
}

section#login div.right form div.password div.eye-open {
    width: 5%;
    position: absolute;
    top: 25%;
    right: 2%;
}

section#login div.right form div.password div.eye-open img {
    display: block;
    width: 100%;
}

section#login div.right form div.password div.eye-hide {
    display: none;
}

section#login div.right form div.password div.eye-hide img {
    display: block;
    width: 100%;
}

section#login div.right form div.checkbox {
    display: flex;
    gap: 12px;

}

section#login div.right form div.checkbox input {
    accent-color: #0fa76f;
}

section#login div.right form div.checkbox span {
    font-family: "SansMedium";
}

section#login div.right form button {
    background: #247d3d;
    padding: 15px 22px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    color: #fff;
    font-size: 14px;
    font-family: "Gordita Regular";
    cursor: pointer;
}
